.info {


  // не слогла найти другого решения, кроме margin-top. Сдвиг дают дотсы у сладера

  // margin-top: 100px;
  padding: 48px 0 10px;
  background-color: $silver-100;
  // @include mq("desktop-2", max) {
  //   margin-top: 76px;
  // }
  @include mq("tablet-2", max) {
    // margin-top: 50px;
    padding-top: 35px;
  }
  @include mq("phone", max) {
    // margin-top: 19px;
    padding: 28px 0 13px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 184px;
      @include mq("desktop-2", max) {
      margin: 0;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    @include mq("tablet", max) {
      flex-direction: column;
      align-items: center;
    }
    @include mq("phone", max) {
      align-items: flex-start;
    }
  }
  &__item {
    position: relative;
    max-width: 264px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 74px;
    letter-spacing: 0;
    @include mq("phone", max) {
      max-width: 280px;
      padding-left: 73px;
    }
  }
  &__item:not(:last-child) {
    @include mq("tablet", max) {
      margin-bottom: 30px;
    }
    @include mq("phone", max) {
      margin-bottom: 31px;
    }
  }
  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(58%) sepia(43%) saturate(4587%) hue-rotate(52deg) brightness(97%) contrast(89%);
  }
  &__item--delivery::before {
    background-image: url(../images/sprite.svg#scooter);
  }
  &__item--return::before {
    background-image: url(../images/sprite.svg#return-box);
  }
  &__item--support::before {
    background-image: url(../images/sprite.svg#24h);
  }
  &__title {
    margin-bottom: 6px;
    @extend %opensans-600;
    font-size: 16px;
    color: $dark-900;
  }
  &__text {
    max-width: 190px;
    @include mq("phone", max) {
      max-width: 210px;
    }
  }
}
