.partners {
  padding: 72px 0;
  min-width: 0;
  &__link {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  &__link:hover,
  &__link:focus {
    opacity: 1;
  }

  .slick-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
  }
  .swiper {
    display: flex;
    align-items: center;
    padding: 0 55px;
  }

  .swiper-slide {
    margin: auto;
  }
}
