.top-slider {
  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 600px;
    padding: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include mq("tablet-2", max) {
      min-height: 500px;
    }
    @include mq("phone", max) {
      min-height: 320px;
      padding: 60px 0 50px 0;
    }
  }
  &__inner {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 24px 23px 24px;
    background-color: rgba($white, 0.8);
    border-radius: 4px;
    @include mq("desktop-2", max) {
      max-width: 1050px;
    }
    @include mq("tablet-2", max) {
      border-radius: 0;
    }
    @include mq("phone", max) {
      max-width: 100%;
      padding: 15px;
    }
  }
  &__title {
    max-width: 770px;
    margin-bottom: 5px;
    @extend %ruda-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    @include mq("desktop-2", max) {
      max-width: 700px;
      font-size: 50px;
    }
    @include mq("tablet-2", max) {
      font-size: 45px;
    }
    @include mq("desktop-2", max) {
      max-width: 620px;
      font-size: 40px;
    }
    @include mq("phone", max) {
      max-width: 280px;
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0;
    }
  }
  &__title span {
    color: $red-900;
  }
  &__text {
    margin-bottom: 35px;
    font-size: 16px;
    letter-spacing: 0;
    @include mq("phone", max) {
      margin-bottom: 24px;
    }
  }
  &__btn {
    @include mq("phone", max) {
      font-size: 14px;
      letter-spacing: 0.03em;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 60%;
    padding: 13px;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    transform: translateY(-50%);
    z-index: 2;
    transition: background-color 0.3s;
  }

  .slick-prev {
    left: 57px;
  }

  .slick-next {
    right: 57px;
  }

  .arrow {
    width: 40px;
    height: 30px;
    fill: $dark-500;
    transition: fill 0.3s;
  }

  .slick-arrow:focus {
    background-color: #f2f2f2;
    box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
  }

  .slick-arrow:hover {
    background-color: $green-200;
  }

  .slick-arrow:hover .arrow {
    fill: $green-900;
  }

  .slick-arrow:active {
    background-color: #f3f3f2;
  }

  .slick-arrow:active .arrow {
    fill: $green-900;
  }

  .slick-disabled,
  .slick-disabled:hover,
  .slick-disabled:active {
    background-color: rgba($white, 0.8);
  }

  .slick-disabled .arrow,
  .slick-disabled:hover .arrow,
  .slick-disabled:active .arrow {
    fill: $silver-600;
  }
  .slick-dots {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -100px;
    @include mq("tablet-2", max) {
      margin-top: -75px;
    }
    @include mq("phone", max) {
      margin-top: -37px;
    }

    button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $white;
      border: 1px solid $silver-600;
      font-size: 0;
      padding: 0;
      @include mq("desktop-2", min) {
        display: none;
      }
      @include mq("phone", max) {
        width: 10px;
        height: 10px;
      }
    }
    li:not(:last-child) {
      margin-right: 45px;
      @include mq("phone", max) {
        margin-right: 12px;
      }
    }
    .slick-active button {
      background-color: $green-900;
      border: 1px solid $green-900;
    }
  }
}
