.catalog-page {
  padding: 48px 0 72px;
  line-height: 1.2;
  @include mq("phone", max) {
    padding: 30px 0 39px;
  }
  &__title {
    margin-bottom: 48px;
    @extend %ruda-700;
    font-size: 42px;
    @include mq("phone", max) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
  &__inner {
    position: relative;
    display: flex;
    @include mq("tablet-2", max) {
      display: block;
    }
  }
}

.filters {
  margin-right: 30px;
  @include mq("desktop", max) {
    margin-right: 90px;
  }
  @include mq("tablet-2", max) {
    position: absolute;
    top: -373px;
    left: -30px;
    width: 85%;
    margin-right: 0;
    padding: 0 0 30px 20px;
    background-color: $white;
    z-index: 5;
    transform: translateX(-500%);
    transition: opacity 0.5s;
  }
  &.filters--active {
    transform: translateX(0);
  }
  @include mq("tablet", max) {
    top: -357px;
  }
  @include mq("phone", max) {
    top: -275px;
    left: -15px;
    width: 340px;
  }
  &__list {
    @include mq("tablet-2", max) {
      height: calc(100vh - 76px);
      overflow-y: scroll;
    }
  }
  &__item {
    width: 300px;
    border: 1px solid $silver-600;
    border-radius: 6px;
    @include mq("tablet-2", max) {
      width: 94%;
      margin-bottom: 30px;
    }
    @include mq("phone", max) {
      width: 300px;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
    // @include mq("tablet-2", max) {
    //   margin-bottom: 0;
    // }
  }
  &__top {
    display: none;
    @include mq("tablet-2", max) {
      display: flex;
      height: 76px;
      align-items: center;
      justify-content: flex-end;
      border: none;
      .filters__close-btn {
        margin-right: 30px;
      }
      // .close-img {
      //   width: 18px;
      //   height: 18px;
      // }
    }
  }
  &__close-img {
    width: 18px;
    height: 18px;
  }
  &__btn {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 18px;
    @extend %ruda-400;
    font-size: 24px;
    color: $dark-900;
    border-bottom: 1px solid $silver-600;
  }
  &__btn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 22px;
    height: 12px;
    background-image: url(../images/sprite.svg#arrow-up);
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(82%) sepia(13%) saturate(0%) hue-rotate(240deg) brightness(92%) contrast(93%);
    transform: translateY(-50%);
  }
  &__inner {
    padding: 18px;
    font-size: 18px;
  }
}

// тут использовала свойство scroll-snap-type, не знаю на сколько оно корректно, На caniuse проверила, вроде норм. Если так нельзя, скажи, я исправлю

.filters-categories {
  &__inner {
    height: 298px;
    padding: 10px 18px 12px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #c4c4c4;
    }
  }

  &__label {
    line-height: 1.3;
    cursor: pointer;
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .filters-categories__radio {
      color: $green-900;
    }
  }
  &__radio {
    display: block;
    padding: 6px 0 5px;
  }
}

.filters-choice {
  display: flex;
  flex-direction: column;
  &__label {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
  }
  &__label:not(:last-child) {
    margin-bottom: 14px;
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .filters-choice__checkbox {
      background-image: url(../images/sprite.svg#checked);
      background-size: 75%;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $dark-500;
    }
  }
  &__checkbox {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
  }
}

.filter-price {
  &__label {
    display: flex;
    max-width: 264px;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    color: $silver-600;
    line-height: 1;
  }
  &__block {
    display: flex;
    align-items: center;
  }
  &__input {
    text-align: center;
    width: 80px;
    height: 40px;
    margin: 0 6px;
    color: $dark-500;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
  }
  // &__from,
  // &__to {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 80px;
  //   height: 40px;
  //   margin: 0 6px;
  //   color: $dark-500;
  //   background-color: $silver-100;
  //   border: 1px solid $silver-600;
  //   border-radius: 3px;
  // }
  &__text {
    @extend %ruda-400;
    line-height: 1.2;
  }
  .range-slider {
    position: relative;
    height: 40px;
  }

  .irs--round {
    // height: 50px;
    width: 264px;
    // text-align: center;
    margin: 0 auto;
    @include mq("tablet-2", max) {
      margin-left: 0;
    }
  }

  .irs--round .irs-bar {
    top: 32px;
    height: 2px;
    background-color: $green-900;
  }

  .irs--round .irs-line {
    top: 32px;
    height: 2px;
    background-color: #c4c4c4;
  }

  .irs--round .irs-handle {
    top: 24px;
    width: 18px;
    height: 18px;
    // border: 4px solid #006cfa;
    background-color: $green-900;
    border-radius: 50%;
    border: none;
    // -webkit-box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
    box-shadow: none;
  }

  .irs--round .irs-min,
  .irs--round .irs-max,
  .irs--round .irs-from,
  .irs--round .irs-to,
  .irs--round .irs-single {
    display: none;
  }

  .irs--round .irs-handle.state_hover,
  .irs--round .irs-handle:hover {
    background-color: $green-900;
  }
}

// .irs--flat .irs-line {
//   top: 30px;
//   height: 2px;
//   background-color: #c4c4c4;
//   border-radius: 0;
// }

// .irs--flat .irs-handle {
//   width: 18px;
//   height: 18px;
//   border-radius: 50%;
//   background-color: $green-900;
// }

// .irs--flat .irs-handle > i:first-child {
//   display: none;
// }

// .irs--flat .irs-bar {
//   top: 30px;
//   height: 2px;
//   background-color: $green-900;
// }

// .irs--flat .irs-min,
// .irs--flat .irs-max {
//   display: none;
// }
// .irs--flat .irs-from,
// .irs--flat .irs-to,
// .irs--flat .irs-single {
//   display: none;
// }

.catalog-content {
  width: 100%;
  &__filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 48px;
    @include mq("phone", max) {
      justify-content: flex-start;
      margin-bottom: 31px;
    }
  }
  &__filter-item:not(:last-child) {
    margin-right: 15px;
    @include mq("phone", max) {
      margin-right: 10px;
    }
  }
  &__filter-item:nth-last-child(-n + 2) {
    @include mq("desktop", max) {
      display: none;
    }
  }

  // .jq-selectbox:root {
  //   box-shadow: 0 0 0 3px $green-200;
  // }
  .jq-selectbox__select {
    height: 47px;
    background: transparent;
    border: 1px solid $silver-600;
    border-radius: 3px;
    box-shadow: none;
    @extend %opensans-400;
    color: $dark-500;
    text-shadow: none;

    //     :root {
    //   --swiper-theme-color: #007aff;
    // }
  }

  .jq-selectbox__trigger {
    border-left: none;
  }
  .jq-selectbox__select-text {
    display: flex;
    height: 47px;
    align-items: center;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 18px;
    right: 10px;
    width: 13px;
    height: 7px;
    border: none;
    background-image: url(../images/sprite.svg#arrow-down);
    background-repeat: no-repeat;
    background-size: cover;
  }
  // &__choice {
  //   max-width: 149px;
  //   width: 100%;
  // }
  .focused .jq-selectbox__select {
    box-shadow: 0 0 0 3px $green-200;
  }
  .jq-selectbox__dropdown {
    padding: 7px 8px;
    border: 1px solid $silver-600;
    border-radius: 0px 0px 6px 6px;
    @extend %opensans-400;
    color: $dark-500;
  }
  .jq-selectbox.opened {
    border: 1px solid #505050;
    border-radius: 3px 3px 0px 0px;
  }
  .jq-selectbox__dropdown li {
    padding: 7px 0;
  }
  .jq-selectbox li:hover {
    background-color: transparent;
    color: $green-900;
  }
  .jq-selectbox li.selected {
    color: $dark-500;
    background-color: transparent;
    opacity: 0.7;
  }

  // &__choice .jq-selectbox__select {
  //   max-width: 149px;
  //   width: 100%;
  // }
  // &__filter-sort {
  //   height: 47px;
  // }
  // .jq-selectbox {
  //   height: 47px;
  //   color: $dark-500;
  //   background-color: $white;
  //   border: 1px solid $silver-600;
  //   border-radius: 3px;
  // }
  // &__filter-sort {
  //   height: 47px;
  //   padding: 0 37px 0 10px;
  //   letter-spacing: 0.03em;
  //   color: $dark-500;
  //   background-color: $white;
  //   border: 1px solid $silver-600;
  //   border-radius: 3px;
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  //   -ms-appearance: none;
  //   appearance: none;
  //   background-image: url(../images/sprite.svg#arrow-down);
  //   background-size: 11px 11px;
  //   background-repeat: no-repeat;
  //   transition: box-shadow 0.4s;
  //   @include mq("desktop", max) {
  //     font-size: 12px;
  //   }
  //   @include mq("phone", max) {
  //     padding: 0 0 0 2px;
  //   }
  //   &:focus {
  //     box-shadow: 0 0 0 3px $green-200;
  //   }
  // }
  // &__filter-sort option {
  //   font-size: 14px;
  //   color: $dark-500;
  // }
  // &__filter-sort {
  //       height: 47px;
  //   font-size: 14px;
  //   line-height: 1.2;
  //   background-color: $white;
  //   border: 1px solid $silver-600;
  //   border-radius: 3px;
  //   color: $dark-500;
  // }

  // &__choice {
  //   max-width: 149px;
  //   width: 100%;
  //   background-position: 92% center;
  //   @include mq("phone", max) {
  //     min-width: 0;
  //     width: 114px;
  //   }
  // }
  // &__quantity {
  //   min-width: 99px;
  //   background-position: 86% center;
  //   @include mq("phone", max) {
  //     min-width: 0;
  //     width: 71px;
  //     padding-left: 4px;
  //   }
  // }
  &__filter-btn,
  &__filter-btn-adaptive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background-color: $silver-100;
    border-radius: 3px;
    .catalog-content__ic-filter {
      width: 32px;
      height: 36px;
      fill: $green-900;
    }
  }

  &__filter-item--hidden {
    @include mq("tablet-2", min) {
      display: none;
    }
  }
  &__filter-btn--active {
    .filter__img {
      filter: invert(52%) sepia(32%) saturate(4739%) hue-rotate(54deg) brightness(101%) contrast(89%);
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 52px;
    @include mq("desktop", max) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    @include mq("tablet", max) {
      grid-gap: 15px;
      margin-bottom: 24px;
    }
    @include mq("phone", max) {
      grid-gap: 5px;
    }

    .product {
      padding: 53px 0 18px;
      @include mq("tablet-2", max) {
        width: 300px;
        height: 344px;
      }
      @include mq("tablet", max) {
        width: 250px;
      }
      @include mq("phone", max) {
        max-width: 170px;
        width: 100%;
        padding: 57px 0 12px;
      }

      // Использовала отрицательный маржин, так как иначе не получается подвинуть блок выше

      &__link {
        @include mq("phone", max) {
          margin-bottom: -18px;
          z-index: -5;
        }
      }
      &__img {
        @include mq("phone", max) {
          width: 168px;
          height: 120px;
        }
      }
      &__content {
        height: 100px;
        padding: 0 16px 0 19px;
        @include mq("phone", max) {
          height: 140px;
          padding: 0 12px;
        }
      }
      &__availability {
        margin-bottom: 0;
        @include mq("phone", max) {
          font-size: 8px;
        }
      }
      &__star-box {
        @include mq("phone", max) {
          font-size: 10px;
          padding-right: 15px;
          &::after {
            width: 12px;
            height: 12px;
            top: -2px;
            right: 0;
          }
        }
      }
      &__name {
        display: block;
      }
      &__title {
        @include mq("phone", max) {
          letter-spacing: 0;
        }
      }
    }

    .product-mini__inner {
      position: absolute;
      top: 260px;
      left: 0;
      right: 0;
      height: 29px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7px;
      padding: 0 14px 0 19px;
      background-color: rgba(255, 255, 255, 0.5);
      @include mq("phone", max) {
        padding: 0 12px;
      }
    }

    &.catalog-content__items--list {
      grid-template-columns: repeat(2, 1fr);
      .product {
        display: flex;
        flex-direction: row;
        height: 162px;
        max-width: 466px;
        width: 100%;
        padding: 14px 0 18px;
        &__badges {
          top: 7px;
          left: 8px;
        }
        &__img {
          width: 200px;
          height: 138px;
          @include mq("phone", max) {
            width: 168px;
            height: 120px;
          }
        }
        &__wrapper {
          max-width: 265px;
          width: 100%;
        }
        .product-mini__inner {
          margin-bottom: 13px;
        }
        &__content {
          height: 110px;
        }
        &__name {
          max-width: 200px;
          width: 100%;
        }
        .product__title {
          max-width: 178px;
          width: 100%;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        &__link::after {
          height: 105%;
        }
      }
      .heart-block {
        top: 35%;
        right: 10px;
        @include mq("desktop", max) {
          right: 5px;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    @include mq("tablet", max) {
      display: block;
      .filter__add {
        margin-bottom: 24px;
      }
    }
  }
}

.filter__img {
  width: 35px;
  height: 35px;
  fill: $silver-600;
}

// .catalog-content__ic-filter {
//   width: 32px;
//   height: 36px;
//   fill: $green-900;
// }

// .range-slider {
//   position: relative;
//   height: 40px;
// }

// .irs--round {
//   // height: 50px;
//   width: 264px;
//   // text-align: center;
//   margin: 0 auto;
// }

// .irs--round .irs-bar {
//   top: 32px;
//   height: 2px;
//   background-color: $green-900;
// }

// .irs--round .irs-line {
//   top: 32px;
//   height: 2px;
//   background-color: #c4c4c4;
// }

// .irs--round .irs-handle {
//   top: 24px;
//   width: 18px;
//   height: 18px;
//   // border: 4px solid #006cfa;
//   background-color: $green-900;
//   border-radius: 50%;
//   border: none;
//   // -webkit-box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
//   box-shadow: none;
// }

// .irs--round .irs-min,
// .irs--round .irs-max,
// .irs--round .irs-from,
// .irs--round .irs-to,
// .irs--round .irs-single {
//   display: none;
// }

// .irs--round .irs-handle.state_hover,
// .irs--round .irs-handle:hover {
//   background-color: $green-900;
// }
