.footer {
  letter-spacing: 0;
  color: $white;
  background-color: $dark-800;
  &__top {
    padding: 32px 0;
    border-bottom: 1px solid rgba($white, 0.1);
    // @include mq("tablet-2", max) {
    // }

    @include mq("tablet-2", max) {
      text-align: center;
      .container {
        padding: 0;
      }
      .logo {
        width: 200px;
        height: 60px;
        &__img {
          display: block;
        }
      }
    }
    @include mq("phone", max) {
      padding: 25px 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    @include mq("phone", max) {
      padding-top: 17px;
    }
    @include mq("tablet-2", max) {
      flex-direction: column;
    }
  }
  &__wrapper-form {
    @include mq("tablet-2", max) {
      margin: 0 auto;
      order: 3;
    }
  }
  &__form {
    position: relative;
    max-width: 306px;
    width: 100%;
    @include mq("tablet-2", max) {
      text-align: left;
      padding: 16px 0 0 63px;
      transform: translateX(-31%);
    }
  }

  &__label {
    display: block;
    margin-bottom: 12px;
    padding-top: 3px;
    @include mq("tablet-2", max) {
      margin-bottom: 17px;
    }
  }

  &__input {
    display: inline-block;
    max-width: 180px;
    width: 100%;
    padding: 10px;
    border: transparent;
    outline: transparent;
    border-radius: 6px 0 0 6px;
  }
  &__input:focus {
    outline: 3px solid #e0edcf;
  }

  &__btn {
    position: absolute;
    display: inline-block;
    padding: 12px 16px;
    @extend %opensans-700;
    font-size: 12px;
    color: $white;
    background-color: $green-900;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.3s;
  }
  &__btn:hover {
    background-color: #4d800c;
  }
  &__btn:focus {
    box-shadow: 0 0 0 4px #e0edcf;
  }
  &__btn:active {
    color: rgba($white, 0.5);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__list {
    column-count: 3;
    column-gap: 75px;
    column-width: 130px;
    padding-left: 65px;
    @include mq("desktop", min) {
      padding-left: 175px;
    } 
    @include mq("desktop", max) {
      column-count: 2;
      padding-left: 110px;
    }
    @include mq("tablet-2", max) {
      text-align: left;
      column-gap: 45px;
      column-width: 115px;
      padding: 24px 0 10px 65px;
      border-bottom: 1px solid rgba($white, 0.1);
      column-count: 3;
    }
    @include mq("tablet", max) {
      column-count: 2;
    }
  }

  &__contacts {
    @include mq("tablet-2", max) {
      padding-bottom: 24px;
      border-bottom: 1px solid rgba($white, 0.1);
      order: -1;
    }
  }

  &__item {
    padding: 3px 0;
    margin-bottom: 12px;
    white-space: nowrap;
    transition: opacity 0.3s;
  }

  &__hotline,
  &__address-link {
    display: block;
    font-style: normal;
    margin-bottom: 15px;
  }

  &__bottom {
    padding: 24px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq("tablet-2", max) {
      flex-direction: column;
    }
  }
  &__card {
    display: flex;
    @include mq("tablet-2", max) {
      margin-bottom: 25px;
    }
  }
  &__visa {
    width: 90px;
    height: 29px;
    margin-right: 24px;
  }
  &__mcard {
    width: 51px;
    height: 29px;
  }
  &__visa,
  &__mcard {
    fill: $white;
    transition: opacity 0.3s;
  }
  &__copy {
    @include mq("tablet-2", max) {
      order: 3;
    }
  }
}
