.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 408px;
  padding: 56px 0 18px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border 0.3s;
  &:hover {
    border: 1px solid $green-900;
  }
  &__badges {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 10px;
    z-index: 2;
  }

  &__badge {
    width: fit-content;
    @extend %opensans-700;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    color: $white;
    padding: 3px 6px;
    margin-bottom: 7px;
    border-radius: 6px;
  }
  &__badge--new {
    background-color: $green-900;
  }
  &__badge--hit {
    background-color: $orange-900;
  }
  &__badge--discount {
    background-color: $red-900;
  }
  &__link {
    position: relative;
  }
  &__img {
    object-fit: contain;
  }

  &__search {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $white;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    transition: all 0.5s;
  }

  &__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__link::after,
  &:hover &__search,
  &__link:focus::after,
  &__link:focus &__search {
    opacity: 1;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    padding: 0 18px 0;
  }
  &__name {
    transition: opacity 0.3s;
  }
  &__name:hover,
  &__name:focus {
    opacity: 0.5;
  }
  &__title {
    @extend %opensans-600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $dark-900;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  &__price-box {
    display: flex;
    flex-direction: column;
  }

  &__price,
  &__exprice {
    line-height: 1;
  }
  &__exprice {
    position: relative;
    margin-bottom: 4px;
    color: $silver-600;
  }
  &__exprice::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid $silver-600;
    width: 100%;
    height: 50%;
    transform: rotate(-12deg);
  }
  &__exprice::after,
  &__price::after {
    content: " ₽";
  }
  &__cart-box {
    display: flex;
    align-items: center;
  }
  &__num {
    margin-right: 24px;
  }
  &__cart-btn {
    position: relative;
    padding: 16px;
    background-color: $green-900;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  &__cart-btn::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    background-image: url("../images/sprite.svg#cart");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(8%) saturate(1173%) hue-rotate(275deg) brightness(110%) contrast(106%);
    transform: translate(-50%, -50%);
  }
  &__cart-btn:hover {
    background-color: #4d800c;
  }
  &__cart-btn:focus {
    box-shadow: 0 0 0 4px #e0edcf;
  }
  &__cart-btn:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__availability {
    @extend %opensans-600;
    font-size: 10px;
    line-height: 1;
    margin-bottom: 5px;
  }
  &__available {
    color: $green-900;
  }
  &__run-out {
    color: $red-900;
  }
  &__not-have {
    color: $silver-600;
  }
  &__star-box {
    position: relative;
    padding-right: 20px;
    @extend %opensans-700;
    line-height: 1;
  }
  &__star-box::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    background-image: url("../images/sprite.svg#star");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: invert(71%) sepia(88%) saturate(1345%) hue-rotate(356deg) brightness(97%) contrast(109%);
  }

  .jq-number {
    position: relative;
  }

  .jq-number__field input {
    width: 36px;
    height: 24px;
    text-align: center;
    border: none;
    background-color: rgba(99, 166, 14, 0.1);
    @extend %opensans-400;
    font-size: 16px;
    line-height: 1;
    color: $dark-500;
  }

  .jq-number__spin {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $green-900;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .jq-number__spin:hover {
    background-color: #4d800c;
  }

  .jq-number__spin.minus {
    top: 0;
    left: -24px;
    border-radius: 3px 0 0 3px;
  }

  .jq-number__spin.plus {
    top: 0;
    left: 36px;
    border-radius: 0 3px 3px 0;
  }

  .jq-number__spin::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(-50%, -50%);
    filter: invert(99%) sepia(87%) saturate(2%) hue-rotate(270deg) brightness(110%) contrast(101%);
  }
  .jq-number__spin.minus::after {
    background-image: url("../images/sprite.svg#minus-btn");
  }

  .jq-number__spin.plus::after {
    background-image: url("../images/sprite.svg#plus-btn");
  }
  .jq-number .product__num:focus {
    outline: transparent;
    border: 3px solid #e0edcf;
  }
}

.search {
  width: 20px;
  height: 20px;
  fill: $green-900;
}

.heart-block {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 8px 7px 2px 7px;
  border-radius: 3px;
  transition: box-shadow 0.3s;
}

.heart-block:focus {
  background-color: #fff;
  box-shadow: 0 0 0 3px $green-200;
}

.heart {
  width: 32px;
  height: 32px;
  fill: $silver-600;
  transition: fill 0.3s;
}

.heart:hover {
  fill: $yellow-900;
  cursor: pointer;
}

.heart:hover {
  fill: $yellow-900;
  cursor: pointer;
}

.heart:active {
  fill: rgba($yellow-900, 0.5);
}

.product-mini {
  position: relative;
  display: flex;
  height: 124px;
  padding: 11px 12px 7px;
  background-color: $white;
  border: 1px solid $silver-600;
  border-radius: 6px;
  transition: border 0.3s;
  &:hover {
    border: 1px solid $green-900;
  }
  &__badges {
    top: 13px;
  }
  &__link {
    margin-right: 12px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 164px;
    width: 100%;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    margin-right: 8px;
    font-size: 20px;
  }
  &__price::after {
    font-size: 14px;
  }
  &__exprice {
    display: inline-block;
    font-size: 12px;
  }
  .product__price::after {
    content: "₽";
  }
}

.product-cart {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  padding: 8px 10px 12px 12px;
  .product-mini__link {
    margin-right: 22px;
  }
  .product__link::after{
    transition: opacity 0.3s;
  }
  .product__link:hover::after {
    opacity: 1;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 340px;
    width: 100%;
  }
  .product__name {
    margin-bottom: 6px;
  }
  &__left {
    display: flex;
    max-width: 180px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-mini__price {
    @extend %opensans-600;
  }
  &__btn-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 12px;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  &__btn-close:hover {
    background-color: $green-100;
  }
  &__btn-close:focus {
    outline: 3px solid $green-200;
  }
  &__btn-close:active {
  background-color: rgba($silver-600, 0.3);
  }
  &__right-bottom {
    position: absolute;
    display: flex;
    bottom: 13px;
    right: 17px;
    align-items: center;
  }
  &__close {
    width: 15px;
    height: 13px;

    fill: $silver-600;
    transition: fill 0.3s;
  }
  &__btn-close:hover .product-cart__close {
    fill: $green-900;
  }
  .jq-number {
    position: relative;
  }

  .jq-number__field input {
    width: 36px;
    height: 24px;
    text-align: center;
    border: none;
    background-color: rgba(99, 166, 14, 0.1);
    @extend %opensans-400;
    font-size: 16px;
    line-height: 1;
    color: $dark-500;
  }

  .jq-number__spin {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $green-900;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .jq-number__spin:hover {
    background-color: #4d800c;
  }

  .jq-number__spin.minus {
    top: 0;
    left: -24px;
  }

  .jq-number__spin.plus {
    top: 0;
    left: 36px;
  }

  .jq-number__spin::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(-50%, -50%);
    filter: invert(99%) sepia(87%) saturate(2%) hue-rotate(270deg) brightness(110%) contrast(101%);
  }
  .jq-number__spin.minus::after {
    background-image: url("../images/sprite.svg#minus-btn");
  }

  .jq-number__spin.plus::after {
    background-image: url("../images/sprite.svg#plus-btn");
  }
  .jq-number .product__num:focus {
    outline: transparent;
    border: 3px solid #e0edcf;
  }
  .product__num {
    margin-right: 18px;
  }
  .cart__rub {
    font-size: 20px;
  }
  .cart__rub::after {
    font-size: 14px;
  }
}
