@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__top {
    @extend %opensans-700;
    font-size: 13px;
    line-height: 1.38;
    color: $white;
    background-color: #31352B;
  }
  &__content {
    padding: 25px 0;
    background-color: $green-900;
  }
  &__content-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__list-item:not(:last-child) {
    margin-right: 28px;
  }
}

.logo {
  transition: opacity 0.3s;
}

.logo:hover {
  opacity: 0.7;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  text-transform: uppercase;
  &__info {
    display: flex;
  }
  &__info-item:not(:last-child) {
    margin-right: 34px;
  }
  &__info-link {
    position: relative;
    padding-left: 49px;
    transition: opacity 0.3s;
  }  
  &__info-link::before {
    content: '';
    position: absolute;
    height: 42px;
    left: 2px;
    top: -2px;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(33%) saturate(0%) hue-rotate(239deg) brightness(112%) contrast(100%);
    transition: opacity 0.3s, box-shadow 0.3s;
  }
  &__info-link--del::before {
    background-image: url(../images/sprite.svg#delivery);
    width: 40px;
  }
  &__info-link--tel::before {
    background-image: url(../images/sprite.svg#phone);
    width: 42px;
    left: 5px;
  }
  &__list {
    display: flex;
  }
  &__list-item:not(:last-child) {
    margin-right: 24px;
  }
  &__list-link {
    transition: opacity 0.3s, box-shadow 0.3s;
  }
  &__info-link:hover,
  &__list-link:hover {
    opacity: 0.7;
  }
  &__info-link:focus,
  &__list-link:focus {
    outline: transparent;
    box-shadow: 0px 0px 0px 3px $green-100;
    border-radius: 3px;
  }
  &__info-link:active,
  &__list-link:active {
    color: $green-200;
  }
  &__info-link--del:active::before,
  &__info-link--tel:active::before  {   
    filter: invert(89%) sepia(19%) saturate(246%) hue-rotate(47deg) brightness(107%) contrast(86%);
  } 
}

.catalog-btn {
  position: relative;
  padding: 15px 35px 15px 61px;
  @extend %opensans-600;
  color: $green-900;
  letter-spacing: 0.03em;
  background-color: $white;
  border-radius: 6px;
  transition: background-color 0.3s;
  &:hover {
    background-color: $green-200;
  }
  &__img-nav {
    position: absolute;
    left: 16px;
  }
  &__img-arr {
    position: absolute;
    top: 22px;
    right: 15px;
  }
}

.catalog-btn::before,
.catalog-btn::after {
  content: "";
  position: absolute;  
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(45%) sepia(90%) saturate(579%) hue-rotate(46deg) brightness(101%) contrast(89%);  
}

.catalog-btn::before {
  height: 23px;
  width: 25px;
  top: 50%;
  left: 14px;
  background-image: url(../images/sprite.svg#nav);
  transform: translateY(-40%);  
}

.catalog-btn::after {
  height: 6px;
  width: 9px;
  top: 45%;
  right: 15px;
  background-image: url(../images/sprite.svg#arrow-down);
}

.search-form {
  position: relative;
  &::before {
  content: "";
  position: absolute;  
  height: 23px;
  width: 33px;
  top: 50%;
  left: 6px;
  padding: 20px 16px 8px;
  border-radius: 3px;
  background-image: url(../images/sprite.svg#search);
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(16%) sepia(4%) saturate(2222%) hue-rotate(42deg) brightness(101%) contrast(87%);
  transform: translateY(-40%);  
  // transition: background-color 0.3s, opacity 0.3s;
  }
  // &:hover::before,
  // &:focus::before {
  //   background-color: rgba($dark-500, 0.1);
  // }
  // &:active::before {
  //   opacity: 0.5;
  //   background-color: rgba($dark-500, 0.1);
  // }
  &__input {
    max-width: 420px;
    width: 100%;
    padding: 15px 190px 15px 50px;
    border: transparent;
    outline: transparent;
    border-radius: 6px 0 0 6px;
    @extend %opensans-400;
    color: $dark-800;
    letter-spacing: 0.03em;
  }
  &__input:focus {
    box-shadow: 0px 0px 0px 3px #E0EDCF;
  }

  &__btn {
    position: absolute;
    width: 158px;
    height: 50px;
    color: $white;
    text-transform: uppercase;
    background-color: $dark-800;
    border: transparent;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  }
  &__btn:hover {
    background-color: rgba($dark-800, 0.85);
  }
  &__btn:focus {
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
  }
  &__btn:active {
    color: rgba($white, 0.5);
  }
}

ul.user-nav {
  margin-right: -5px;
}

.user-nav {
  display: flex;
  align-items: center;
  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__link {
    position: relative;
    padding: 26px 11px 4px;
    border-radius: 3px;
    transition: background-color 0.5s;
  }
  &__link:hover {
    background-color: rgba($white, 0.1);
  }
  &__link:focus {
    background-color: rgba($white, 0.1);
    box-shadow: inset 0px 0px 0px 3px $green-100;
  }
    &__link:active {
      background-color: rgba($white, 0.1);
      opacity: 0.5;
    }

  &__num {
    position: absolute;
    top: 4px;
    left: 7px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    color: $red-900;
    background-color: $white;
    border-radius: 50%;
  }
}

.user-icon,
.heart-icon,
.cart-icon {
  fill: $white;
}

.user-icon {
  width: 25px;
  height: 32px;
}

.heart-icon,
.cart-icon {
  width: 34px;
  height: 34px;
}

.top-slider {
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 600px;
    padding: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__item-inner {
    max-width: 1290px;
    width: 100%;
    padding: 24px 0 23px 24px;
    background-color: rgba($white, 0.8);
    border-radius: 4px;
  }
  &__title {
    max-width: 770px;
    margin-bottom: 10px;
    @extend %ruda-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
  }
  &__title span {
    color: $red-900;
  }
  &__text {
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 0;
  }
  &__btn {
    @extend %btn;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  &__btn:hover {
    background-color: #4D810C;
  }
    &__btn:focus {
    box-shadow: inset 0px 0px 0px 4px $green-200;
  }
  &__btn:focus {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
// li.top-slider__item {
//   display: flex;
//   align-items: center;
// }

.slick-prev,
.slick-next  {
  position: absolute;
  top: 50%;
  padding: 13px;
  background-color: rgba($white, 0.8);
  border-radius: 6px;
  transform: translateY(-50%);
  z-index: 2;
  transition: background-color 0.3s;
}

.slick-prev {
  left: 60px;
}

.slick-next {
  right: 60px;
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 30px;
  fill: $dark-500;
  transition: fill 0.3s;
}

.slick-prev:focus,
.slick-next:focus {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
} 

.slick-prev:hover,
.slick-next:hover {
  background-color: $green-200;
 } 

.arrow-left:hover,
.arrow-right:hover {
  fill: $green-900;
}

.slick-prev:active,
.slick-next:active {
  background-color: #F3F3F2;;
 } 

.arrow-left:active,
.arrow-right:active {
  fill: $green-900;
}

.arrow-left:disabled,
.arrow-right:disabled {
  fill: $silver-600;
}


.info {
  padding: 50px 0 30px;
  background-color: $silver-100;
  &__list {
  display: flex;
  max-width: 950px;
  width: 100%;
  }
  &__item {
    position: relative;
    padding-left: 90px;
  }
  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 93px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(58%) sepia(43%) saturate(4587%) hue-rotate(52deg) brightness(97%) contrast(89%);
  } 
  &__item--delivery::before {
    background-image: url(../images/sprite.svg#scooter);
  }
  &__item--return::before {
    background-image: url(../images/sprite.svg#return-box);
  }
  &__item--support::before {
    background-image: url(../images/sprite.svg#24h);
  }
  &__title {
    margin-bottom: 6px;
    @extend %opensans-600;
    font-size: 16px;
    color: $dark-900;
  }
  &__text {
    max-width: 190px;
  }
}  

ul.info__list {
  margin: 0 auto;
}

li.info__item:not(:last-child) {
  margin-right: 50px;
}

.top-products {
  padding: 70px 0;
  background-color: $white;
  &__filter-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__item-btn:not(:last-child) {
    margin-right: 19px;
  }
  &__btn {
    @extend %opensans-700;
    font-size: 15px;
    text-transform: uppercase;
    transition: color 0.3s, box-shadow 0.3s;
  }
  &__btn:hover {
    color: $green-900;
  }
  &__btn:focus {
    box-shadow: 0px 0px 0px 3px #E0EDCF;
    border-radius: 3px;
  }
  &__content {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr  1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 60px;
  }
  &__add {
    text-align: center;
  }
  &__add-btn {
    @extend %btn;  
    color: $green-900;
    background-color: $white;
    border: 1px solid $green-900; 
    transition: background-color 0.3s; 
  }
  &__add-btn:hover {
    background-color: $green-100;
  }
  &__add-btn:focus {
    box-shadow: 0px 0px 0px 4px rgba($green-900, 0.5);
  }
  &__add-btn:active {
    color: rgba(99, 166, 14, 0.5);
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
  } 
}

ul.top-products__filter-btn {
  margin-bottom: 50px;
}
ul.top-products__content {
  margin-bottom: 45px;
}

.mixitup-control-active {
  border-bottom: 3px solid $green-200;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 410px;
  padding: 56px 18px 18px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border 0.3s;
  &:hover {
    border: 1px solid #63A60E;
  }
  &__badge {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &__new,
  &__hit,
  &__discount {
    display: inline-block;
    @extend %opensans-700;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    color: $white;
    padding: 3px 6px;
    border-radius: 6px;
  }
  &__new {
    background-color: $green-900;
  }
  &__hit {
    background-color: $orange-900;
  }
  &__discount {
    background-color: $red-900;
  }
  &__link-img {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }

  // Не смогла разобраться с transition, не понимаю как добиться плавности

  &__search {
    display: none;
    position: absolute;
    width: 48px;
    height: 48px;    
    left: 50%;
    top: 50%;
    background-color: $white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 0.3s;
  }
  &__search::before {
    content: "";
    position: absolute;
    width: 37px;
    height: 22px;
    left: 50%;
    top: 50%;
    background-image: url('../images/sprite.svg#search');
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(58%) sepia(43%) saturate(4587%) hue-rotate(52deg) brightness(97%) contrast(89%);
    transform: translate(-50%, -50%);    
    z-index: 2;
  }  
  &:hover &__search {
    display: block;
  }
  &__link-name {
    @extend %opensans-600;
  }
  &__price,
  &__exprice {
    line-height: 1;
  }
  &__exprice {
    position: relative;
    display: inline-block;
    color: $silver-600;
  }
  &__exprice::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid $silver-600;
    width: 100%;
    height: 50%;
    transform: rotate(-12deg);
  }
  &__box-cart {
  position: absolute;
  right: 18px;
  bottom: 18px;
  padding: 5px 8px 4px;
  background-color: $green-900;
  border-radius: 3px;
  transition: background-color 0.3s;
  }
  &__box-cart:hover {
    background-color: #4D800C;
    cursor: pointer;
  }
  &__box-cart:focus {
    box-shadow: 0px 0px 0px 4px $green-200;
  }
  &__box-cart:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.heart-block {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 8px 7px 2px 7px;
  border-radius: 3px;
  transition: box-shadow 0.3s;
}

.heart-block:focus {
  background-color: #fff;
  box-shadow: 0px 0px 0px 3px $green-200;
}

.heart {
  width: 32px;
  height: 32px;
  fill: $silver-600;
  transition: fill 0.3s;
}

.heart:hover {
  fill: $yellow-900;
  cursor: pointer;
}

.heart:active {
  fill: rgba($yellow-900, 0.5);
}

.cart {
  width: 16px;
  height: 16px;  
  fill: $white;
}

.cart:active {
  fill: rgba(255, 255, 255, 0.5);
}

.footer {
  color: $white;
  background-color: $dark-800;
}

.footer-top {
  padding: 23px 0;
  border-bottom: 1px solid rgba($white, 0.1);
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
  &__item--column {
    column-count: 3;
    column-gap: 75px;
    column-width: 130px;
  }
  &__info {
    display: block;
    margin-bottom: 18px;
    white-space: nowrap;
    transition: opacity 0.3s;
  }
  &__link:hover {
    opacity: 0.7;
  }
  &__hotline {
    margin-bottom: 18px;
    transition: opacity 0.3s;
  }
  &__hotline:hover {
    opacity: 0.7;
  }
  &__social-link {
    display: flex;
    align-items: center;
  }
  &__social-item {
    border-radius: 3px;    
  }
  &__social-item:focus {
    box-shadow: 0px 0px 0px 3px #E0EDCF;
  }
  &__social-item:not(:last-child) {
    margin-right: 12px;
  }
}

ul.footer-top__item--column {
  padding-left: 75px;
}

.facebook {
  width: 33px;
  height: 32px;
}

.youtube,
.telegram,
.instagram {
  width: 31px;
  height: 32px;
}

.subscribe-form {
  width: 24%;
  position: relative;
  &__label {
    display: block;
    margin-bottom: 16px;
  }
  &__input {
    display: inline-block;
    max-width: 180px;
    width: 100%;
    padding: 10px;
    border: transparent;
    outline: transparent;
    border-radius: 6px 0 0 6px;
  }
  &__input:focus {
    box-shadow: 0px 0px 0px 3px #E0EDCF;
  }
  &__btn {
    position: absolute;
    display: inline-block;
    padding: 12px 16px;
    @extend %opensans-700;
    font-size: 12px;
    color: $white;
    background-color: $green-900;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.3s;
  }
  &__btn:hover {
    background-color: #4D800C;
  }
  &__btn:focus {
    box-shadow: 0px 0px 0px 4px #E0EDCF;
  }
  &__btn:active {
    color: rgba($white, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.address {
  margin-bottom: 18px;
  font-style: normal;
}

.footer-bottom {
  padding: 18px 0 25px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__card {
    display: flex;
  }
}

.visa {
  width: 90px;
  height: 50px;
  margin-right: 24px;
}

.mcard {
  width: 51px;
  height: 47px;
}

.facebook,
.youtube,
.telegram,
.instagram,
.visa,
.mcard {
  fill: $white;
  transition: opacity 0.3s;
}

.facebook:hover,
.youtube:hover,
.telegram:hover,
.instagram:hover {
  opacity: 0.7;
}

.facebook:active,
.youtube:active,
.telegram:active,
.instagram:active {
  fill: $green-200;
}


@import 'media';
